.NTES_sec_ {border-bottom:1px solid #dcdddd;}
.NTES_nav_ {width:960px; height:30px; line-height:30px; margin:0 auto; text-align:left;}
.NTES_bg_ {height:35px; background:url(http://img1.cache.netease.com/cnews/img09/ntes_bg.jpg) left bottom repeat-x;}
.NTES_nav_ .NTES_logo {float:left; display:inline; margin:5px 5px 0 5px;}
.NTES_nav_ .nav_link{float:left; color:#b3b3b3;}
.nav_link a,.nav_link a:visited {color:#2b2b2b;}
.nav_link a:hover {color:#ba2636;}
.NTES_link a,.NTES_link a:visited {padding:0 2px 0 3px; color:#1E50A2;}
.NTES_nav_ .nav_link a:hover {color:#ba2636;}
.NTES_nav_ .rightCon {float:right;}
.NTES_nav_ .rightCon .rss{display:inline; float:right; margin:8px 6px 0 6px;}
.NTES_bg_ .nav_link {margin-top:2px;}
.NTES_nav_ .nav_link a {padding:0 3px;}
.NTES_nav_ .hidden {display:none;}
	.top_search {float:right; margin:9px 0 0; display:inline;}
	.top_search .select_box {background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; ove rflow:hidden; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px;}
	.top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
	.top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
	.top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
	.top_search .select_box {width:45px;}
	.top_search .select_box a {display:block; height:18px; text-indent:5px;}
	.top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
	.top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
	.top_search .textBox {width:119px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/cnews/newstest1204/enterinput.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
	.top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
	.top_search form {float:left;}
.select_goahead {position:relative; display:block; width:150px; height:21px; margin:5px 0 0; background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg1001.jpg) 141px -204px no-repeat;}
.select_goahead .loginName {display:block; overflow:hidden; width:140px; height:21px; line-height:21px; color:#727171; font-weight:bold; text-align:right; cursor:pointer;}
.select_goahead .loginName:hover {color:#ba2636;}
.select_goahead .select_box {display:none; position:absolute; width:91px; _left:0; right:0; top:21px; overflow:hidden; background:#fff; border:1px solid #dcdddd; line-height:18px; text-align:left; color:#2b2b2b;}
select_goahead .select_box a {clear:both; display:block; width:91px; height:18px; line-height:18px; text-indent:6px; font-weight:normal; color:#2b2b2b;}
select_goahead .select_box a:visited {color:#2b2b2b;}
select_goahead .select_box .dotLine {margin:2px 0;}
.select_passport .select_list a {clear:both; display:block; width:110px; height:18px; text-indent:2px; cursor:pointer; background:#fff; color:#2b2b2b;}
.select_passport .select_list a:visited {color:#2b2b2b;}	
.select_goahead .select_box a:hover,.select_goahead .select_box a.active {text-decoration:none; color:#fff; background:#85B6EA;}
#divSelect {float:left;}
.NTES_nav_ .top_search {float:right; margin:6px 6px 0 0; display:inline;}
.NTES_bg_ .top_search {margin-top:8px;}
.NTES_nav_ .top_search .select_box {background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -56px no-repeat; width:45px; height:18px; border:none; position:relative; text-align:left; cursor:pointer; float:left; margin-right:4px; z-index:1000;}
.NTES_nav_ .top_search .select_box .select_list {display:block; position:absolute; width:3em; line-height:19px; left:0; top:0; background:#fff; display:none;}
.NTES_nav_ .top_search .select_box .search_site {height:18px; line-height:20px; padding-left:6px; float:left; overflow:hidden;}
.NTES_nav_ .top_search .select_box .select_list {width:43px; border:1px solid #B4B4B4;}
.NTES_nav_ .top_search .select_box {width:45px;}
.NTES_nav_ .top_search .select_box a {display:block; height:18px; text-indent:5px;}
.NTES_nav_ .top_search .select_box a:hover {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .select_box a.active {background:#1E50A2; color:#fff; display:block; height:18px; text-decoration:none;}
.NTES_nav_ .top_search .textBox {width:88px; height:18px; color:#7B7C7D; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left top no-repeat; border:none; float:left; line-height:18px; text-indent:3px;}
.NTES_nav_ .top_search .btn {overflow:hidden; width:41px; height:18px; background:url(http://img1.cache.netease.com/cnews/img09/ntes_nav_img.gif) left -28px no-repeat; border:none; float:left; line-height:19px; font-size:12px; cursor:pointer;}
.NTES_nav_ .top_search form {float:left;}
.NTES_nav_ .top_search .rss{float:left; margin:2px 0 0 6px;}
.nav_channel_end {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg1001.jpg) left -67px repeat; height:37px; line-height:38px; overflow:hidden; width:960px; margin:0 auto;}
.nav_channel_end .rightS {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg1001.jpg) right -141px no-repeat; display:block; width:8px; height:37px; float:right; overflow:hidden;}
.nav_channel_end .nav {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg1001.jpg) left -30px no-repeat; height:37px; float:left; line-height:38px; color:#1E50A2; overflow:hidden;}
.nav_channel_end .nav a {padding:0 5px; float:none;}
.nav_channel_end .nav .firstNode {margin-left:8px; background:none;}
.nav_channel_end .goHome {float:right; width:77px; height:18px; background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg1001.jpg) left -178px no-repeat; overflow:hidden; margin:10px 5px 0 0; line-height:19px; text-align:left; text-indent:10px;}
.nav_channel_end .nav a,.nav_channel_end .nav a:visited {color:#1E50A2;}
.nav_channel_end .nav a:hover {color:#BA2636;}
.nav_channel_end .search {float:right; display:inline; width:128px; height:20px; margin:8px 13px 0 0; overflow:hidden;}
.nav_channel_end .search .textBox {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) right -202px no-repeat; width:106px; height:20px; line-height:21px; text-indent:4px; padding:2px 0 0 0; border:none; line-height:18px; color:#727171; float:left;}
.nav_channel_end .search .btn {background:url(http://img1.cache.netease.com/cnews/img09/endnav_bg.jpg) left -178px no-repeat; width:22px; height:20px; border:none; text-indent:-100em; cursor:pointer; float:left;}